---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BlogHeadline from "../../components/BlogHeadline.astro";
import BlogHeadlineRowButton from "../../components/BlogHeadlineRowButton.astro";
import AllPostsGrid from "../../components/AllPostsGrid.astro";
import TiltedTitle from "../../components/TiltedTitle.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="flex flex-col">
			<BlogHeadline text="Ratgeber"/>
			<BlogHeadlineRowButton title="Title" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."/>
			<BlogHeadlineRowButton title="Title" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."/>
			
			<TiltedTitle text="Alle Artikel" />
			<AllPostsGrid posts={posts}/>
		</main>
		<Footer />
	</body>
</html>
