---
import TiltedTitle from "./TiltedTitle.astro";

const {text} = Astro.props
---

<div class="flex flex-col justify-items-center items-center px-16 pt-16">
    <TiltedTitle text={text}/>
    <p class="max-w-xl text-center">Auf dieser Seite findest du alles was du wissen musst über die Mietpreisbremse und wie du sie erfolgreich einsetzt.</p>
</div>