---
const today = new Date();
---

<section class="bg-yellow-9">
	<div class="container py-20 sm:py-24 space-y-16 text-center">
		<h2 class="title-32 sm:title-36 md:title-40 lg:title-44 text-purple-11">
			Check jetzt deine Miete! <br class="hidden sm:block" />
			Kostenlos und in 5 Minuten.
		</h2>
		<a
			class="inline-block px-5 py-3 bg-purple-9 text-yellow-11 text-xl-book rounded-full hover:bg-purple-10"
			href="/schnelltest"
		>
			Miete checken
		</a>
	</div>
</section>
<footer class="bg-purple-11">
	<div class="container py-20 sm:py-24 flex flex-col items-center space-y-16">
		<div class="flex flex-wrap gap-4 justify-center sm:gap-6">
			{
				[
					{ label: "Ratgeber", href: "/" },
					{ label: "Über Uns", href: "https://mietencheck.de/ueber-uns" },
					{ label: "Mitmachen", href: "/" },
					{ label: "Kontakt", href: "/" },
				].map((item) => (
					<a
						class="inline-block flex-shrink-0 px-4 py-2.5 bg-yellow-9 text-purple-11 text-base-book rounded-full hover:bg-yellow-10 sm:text-lg-book"
						href={item.href}
					>
						{item.label}
					</a>
				))
			}
		</div>
		<a href="https://dwenteignen.de/" target="_blank">
			<img
				src="/images/dwe-logo-yellow.svg"
				alt="Deutsche Wohnen & Co Enteignen Logo"
				class="h-16"
			/>
		</a>
	</div>
	<div class="bg-purple-10">
		<div class="container py-8 text-center space-x-8">
			<a class="text-base-medium text-yellow-11 hover:underline" href="">
				Datenschutz
			</a>
			<a class="text-base-medium text-yellow-11 hover:underline" href="">
				Impressum
			</a>
		</div>
	</div>
</footer>
