---
import { getLangFromUrl } from "../i18n/utils";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import LanguageButton from "./LanguageButton.astro";
const lang = getLangFromUrl(Astro.url);
let menu = false;
---

<script>
	const button = document.getElementById("togglemenu");
	const header = document.getElementsByTagName("header")[0];
	const mobilenav = document.getElementById("mobilenav");
	button?.addEventListener("click", () => {
		if (mobilenav?.classList.contains("hidden")) {
			mobilenav.classList.remove("hidden");
			mobilenav.classList.add("flex");

			header.classList.remove("bg-purple-9");
			header.classList.add("bg-purple-10");
		} else {
			mobilenav?.classList.remove("flex");
			mobilenav?.classList.add("hidden");

			header.classList.remove("bg-purple-10");
			header.classList.add("bg-purple-9");
		}
	});
</script>
<header class="sticky left-0 right-0 top-0 bg-purple-9 z-50">
	<div class="container flex justify-between items-center py-4">
		<a href="https://mietencheck.de/" class="title-16 text-yellow-11"
			>mietencheck.de
		</a>
		<button
			id="togglemenu"
			class="sm:hidden px-3 py-3 text-yellow-11 border-2 border-yellow-9 rounded-full focus-visible:outline-none focus-visible:border-yellow-9"
		>
			<img
				src="/icons/menu.svg"
				alt="Open menu"
				class="h-5 w-5 text-yellow-11"
			/>
		</button>
		<nav class="hidden sm:flex gap-8 items-center">
			<div class="space-x-6">
				<a
					href={`/${lang}`}
					class="text-base-medium text-yellow-11 hover:underline"
				>
					Ratgeber
				</a>
				<a
					href="https://mietencheck.de/ueber-uns"
					class="text-base-medium text-yellow-11 hover:underline"
				>
					Über Uns
				</a>
			</div>
			<div class="flex gap-3">
				<LanguageButton />
				<a
					class="inline-block px-3 py-2.5 bg-yellow-9 text-purple-11 text-base-medium border-2 border-yellow-9 rounded-full hover:bg-yellow-10 hover:border-yellow-10"
					href="https://mietencheck.de/schnelltest"
				>
					Miete checken
				</a>
			</div>
		</nav>
	</div>
	<div
		id="mobilenav"
		class="hidden container flex-col items-center text-center pb-4 space-y-1"
	>
		<a
			href={`/${lang}`}
			class="block py-3 text-base-medium text-yellow-11 hover:underline"
		>
			Ratgeber
		</a>
		<a
			href="https://mietencheck.de/ueber-uns"
			class="block py-3 text-base-medium text-yellow-11 hover:underline"
		>
			Über Uns
		</a>
		<div class="w-full py-3">
			<a
				class="block px-3 py-2.5 bg-yellow-9 text-purple-11 text-base-medium border-2 border-yellow-9 rounded-full hover:bg-yellow-10 hover:border-yellow-10"
				href="https://mietencheck.de/schnelltest"
			>
				Miete checken
			</a>
		</div>
	</div>
</header>
