---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const replacement = lang == "de" ? "en" : "de";
---

<a
  class="bg-cipurple-1 border-ciyellow-1 border-2 rounded-full text-white px-4 py-2 self-start"
  href=`/${replacement}`
>
  <p class="text-ciyellow-1">{t("language.label")}</p>
</a>
