---
const { text } = Astro.props;
---

<div class="flex flex-col flex-wrap py-12">
    <div class="flex-wrap inline-block self-center basis-0 bg-ciyellow-1 py-1 px-3 -rotate-6">
        <h3>{text}</h3>
    </div>
</div>
